html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Varela Round', sans-serif;
}

.search-box {
  font-size: 40px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
  text-align: center;
  text-transform: uppercase;
}

.weather-container {
  margin-top: 30px;
}

.icon-wrap {
  margin-bottom: 20px;
}

.wi {
  font-size: 70px;
}

.temp {
  font-size: 24px;
}

.tweet-container {
  margin: 10px 0px;
}